<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ClickChamaPainel</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Toggle-Switch-1.css">
    <link rel="stylesheet" href="assets/css/Toggle-Switch.css">
</head>

<body>
    <header style="background: #4e0189;color: #ffffff;">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><a class="navbar-brand" href="#" style="color: #000000;background: #ffffff;font-weight: bold;border-width: 1px;border-style: solid;border-radius: 10px;padding: 4px 6px;">DRAGON-GAS</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="color: #ffffff;"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" href="#" style="color: #ffffff;">Pedidos</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#" style="color: #ffffff;">Produtos</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#" style="color: #ffffff;">Relatorios</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item" style="margin: 0px 6px 0px 0px;"><a class="nav-link active" href="#"><i class="fa fa-bell" style="color: #ffffff;font-size: 22px;"></i></a></li>
                            <li class="nav-item"><label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label></li>
                            <li class="nav-item" style="margin: 0px 0px 0px 8px;"><a class="nav-link active" href="#" style="background: #ffffff;border-radius: 50%;padding: 4px 8px;margin: 0px 0px 0px 0px;"><i class="fa fa-user" style="color: #4e0189;font-size: 22px;"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main style="padding: 12px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Meu cadastro</h1>
                </div>
                <div class="col">
                    <p>Dados Visíveis no Aplicativo</p>
                    <div class="row mb-2">
                        <div class="col-4 mb-2"><label class="form-label">Nome no Aplicativo</label><input type="text" class="form-control" name="app_name"></div>
                        <div class="col-4 mb-2"><label class="form-label">Telefone</label><input type="text" class="form-control" name="phone"></div>
                    </div>
                    <p>Dados Internos</p>
                    <div class="row">
                        <div class="col-4 mb-2"><label class="form-label">CNPJ</label><input type="text" class="form-control" name="cnpj"></div>
                        <div class="col-4 mb-2"><label class="form-label">Razão Social</label><input type="text" class="form-control" name="razao_social"></div>
                        <div class="col-4 mb-2"><label class="form-label">Telefone de Contato</label><input type="text" class="form-control" name="phone_contato"></div>
                        <div class="col-4 mb-2"><label class="form-label">E-Mail</label><input type="text" class="form-control" name="email" readonly=""></div>
                        <div class="col-4 mb-2"><label class="form-label">CEP</label><input type="text" class="form-control" name="zip_code"></div>
                        <div class="col-4 mb-2"><label class="form-label">Rua</label><input type="text" class="form-control" name="address"></div>
                        <div class="col-4 mb-2"><label class="form-label">Numero</label><input type="text" class="form-control" name="number"></div>
                        <div class="col-4 mb-2"><label class="form-label">Bairro</label><input type="text" class="form-control" name="district"></div>
                        <div class="col-4 mb-2"><label class="form-label">Cidade</label><input type="text" class="form-control" name="city"></div>
                        <div class="col-4 mb-2"><label class="form-label">Estado</label><input type="text" class="form-control" name="state"></div>
                        <div class="col-4 mb-2"><label class="form-label">Complemento</label><input type="text" class="form-control" name="complement"></div>
                        <div class="col-4 mb-2"><label class="form-label">Raio de Entrega</label><input type="number" class="form-control" name="raio_entrega"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>